/*
 * ===============================
 * TABLE OF CONTENTS
 * ===============================
 * 1. Global Styles
 * 2. Navigation
 * 3. Habit Tracker
 * 4. Input Group
 * 5. Buttons
 * 6. Habit List
 * 7. Plant Section
 * 8. Alert Messages
 * 9. Deleted Habits
 * 10. Completed State
 * 11. Media Queries
 */

/* ========== 1. Global Styles ========== */
*,
*::before,
*::after {
	box-sizing: border-box; 
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden; 
	font-family: 'Silkscreen', sans-serif;
}

#root {
	margin: 0;
	text-align: center;
	width: 100%;
	overflow-x: hidden; 
}

/* ========== 2. Navigation ========== */
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 1rem;
	margin-top: 2rem;
}

/* ========== 3. Habit Tracker ========== */
.habit-tracker-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 1rem;
	margin: 2rem;
	width: 100%;
	transition: all 0.3s ease;
	flex-wrap: wrap; /
}

.habit-container,
.plant-section {
	padding: 0.5rem;
	height: auto;
	width: 50%;
	max-width: 50%;
	min-width: 320px; 
	background-color: var(--primary-color);
	box-sizing: border-box;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	transition: width 0.3s ease;
}

.completed-button {
	margin: 1rem;
}

/* ========== 4. Input Group ========== */
.input-group {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 1.5rem;
}

input[type='text'] {
	border: none;
	outline: none;
	padding: 0.5rem;
	font-size: 1rem;
	background-color: var(--secondary-color);
	color: var(--text-color);
	font-family: 'Silkscreen', sans-serif;
	margin-right: 0.5rem;
}

/* ========== 5. Buttons ========== */
button {
	border: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-family: 'Silkscreen', sans-serif;
	background-color: #708294;
	color: var(--primary-color);
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #708294a6;
}

.page-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

button,
.completed-button {
	font-family: 'Silkscreen', sans-serif;
	color: var(--primary-color);
	transition: background-color 0.3s ease;
}

button:hover,
.completed-button:hover {
	background-color: #708294a6;
}

/* ========== 6. Habit List ========== */
.habit-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	min-height: 50vh;
	max-height: 50vh;
	width: 100%;
}

.habit-item {
	background-color: var(--secondary-color);
	padding: 0.75rem;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--text-color);
}

.habit-item input[type='text'] {
	border: none;
	flex-grow: 1;
}

.habit-item button {
	background: none;
	cursor: pointer;
	color: #708294;
	outline: none;
	margin-left: 0.5rem;
}

.habit-item button:hover {
	color: #708294a6;
}

.habit-item button:last-child {
	color: #ff6f61;
}

.habit-item button:last-child:hover {
	color: #e45b54;
}

/* ========== 7. Plant Section ========== */
.plant-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
	max-width: 50%;
	min-width: 320px;
	background-color: var(--primary-color);
	box-sizing: border-box;
	transition: width 0.3s ease;
}

.plant-section img {
	max-width: 70%;
	height: auto;
}

.plant-container {
	background-color: var(--secondary-color);
	width: fit-content;
}

.plant-collection {
	list-style-type: none;
}

/* ========== 8. Alert Messages ========== */
.new-seed-alert {
	-webkit-animation: new-seed-alert 0.9s both;
	        animation: new-seed-alert 0.9s both;

}
 @-webkit-keyframes new-seed-alert {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
			  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
			  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
			  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
			  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
			  transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
  }
  @keyframes  new-seed-alert {
	0% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
	30% {
	  -webkit-transform: scale3d(1.25, 0.75, 1);
			  transform: scale3d(1.25, 0.75, 1);
	}
	40% {
	  -webkit-transform: scale3d(0.75, 1.25, 1);
			  transform: scale3d(0.75, 1.25, 1);
	}
	50% {
	  -webkit-transform: scale3d(1.15, 0.85, 1);
			  transform: scale3d(1.15, 0.85, 1);
	}
	65% {
	  -webkit-transform: scale3d(0.95, 1.05, 1);
			  transform: scale3d(0.95, 1.05, 1);
	}
	75% {
	  -webkit-transform: scale3d(1.05, 0.95, 1);
			  transform: scale3d(1.05, 0.95, 1);
	}
	100% {
	  -webkit-transform: scale3d(1, 1, 1);
			  transform: scale3d(1, 1, 1);
	}
  }
  

/* ========== 9. Deleted Habits ========== */
.deleted-habits {
	list-style-type: none;
	padding: 0;
	margin-bottom: 10px;
}

.deleted-habit-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

/* ========== 10. Completed State ========== */
.completed {
	text-decoration: line-through;
	color: gray;
}

.completed::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.1em;
	border-bottom: 3px solid gray;
	pointer-events: none;
}

/* ========== 11. Media Queries ========== */
/* Medium Screens */
@media (max-width: 800px) {
	.habit-tracker-container {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 2rem auto;
	}

	.page-container,
	.habit-tracker-container {
		width: 100%; 
		padding: 0 1rem;
	}

	.habit-container,
	.plant-section {
		max-width: 70%; 
		width: 100%; 
		margin-bottom: 1rem;
	}

	.navigation {
		flex-direction: column;
	}

	.habit-list {
		max-height: 45vh;
		width: 100%;
	}
}

/* Smaller Screens */
@media (max-width: 622px) {

	.habit-container,
	.plant-section {
		width: 100%; 
		max-width: 100%;
	}
}

/* Extra Small Screens */
@media (max-width: 454px) {
	.input-group {
		flex-direction: column;
		gap: 0.5rem;
	}

  input[type='text'] {
    margin-right: 0rem;
}

}

/* Large Screens (Desktop) */
@media (min-width: 1200px) {
	.habit-container,
	.plant-section {
		width: 35%; 
		max-width: 50%;
	}
}
