#root {
  margin: 0 auto;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 1rem;
}

.habit-container {
  background-color: var(--primary-color);
  padding: 2rem;
  padding-bottom: 4rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  min-width: 300px;
  max-height: 60vh;
  max-width: 100%;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

input[type='text'] {
  border: none;
  outline: none;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: 'Silkscreen', sans-serif;
  margin-right: 0.5rem;
}

.completed {
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  color: gray;
}

.completed::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.1em;
  border-bottom: 3px solid gray;
  pointer-events: none;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: 'Silkscreen', sans-serif;
  background-color: #708294;
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #708294a6;
}

.completed-button {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.habit-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  max-height: 40vh;
  overflow-x: hidden;
}

.habit-item {
  background-color: var(--secondary-color);
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
}

.habit-item input[type='text'] {
  border: none;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.habit-item button {
  background: none;
  cursor: pointer;
  color: var(--text-color);
  padding: 0;
  margin-left: 0.5rem;
}

.habit-item button {
  color: #708294;
  outline: none;
}

.habit-item button:hover {
  color: #708294a6;
  outline: none;
}

.habit-item button:last-child {
  color: #ff6f61;
  outline: none;
}

.habit-item button:last-child:hover {
  color: #e45b54;
  outline: none;
}

.plant-section {
  margin: 1rem;
}

.plant-collection {
  list-style-type: none;
}

.deleted-habits {
  list-style-type: none;
  padding: 0;
  margin-bottom: 10px;
}

.deleted-habit-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  overflow-y: auto;
}

.deleted-habit-item button {
  margin-left: 10px;
}

/* Responsive */

@media (max-width: 768px) {
  .habit-container {
    padding: 1rem;
    padding-bottom: 4rem;
  }

  .navigation {
    flex-direction: column;
    gap: 10px;
  }

  .input-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .completed-button {
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .habit-list {
    max-height: 45vh;
  }

  .habit-item {
    flex-direction: row;
    align-items: center;
  }

  .habit-item input[type='text'] {
    width: auto;
  }

  .habit-item button {
    margin-left: 0.5rem;
  }
}

@media (max-width: 480px) {
  .habit-container {
    padding: 0.5rem;
    padding-bottom: 4rem;
  }

  .input-group {
    flex-direction: column;
    gap: 0.5rem;
  }

  .habit-item {
    flex-direction: row;
    align-items: center;
  }

  .habit-item input[type='text'] {
    width: auto;
  }

  .habit-item button {
    margin-left: 0.5rem;
  }

  .habit-list {
    max-height: 40vh;
  }
}

@media (max-width: 768px) {
  .input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .input-group input[type='text'] {
    flex: 1;
    margin-right: 0;
  }

  .input-group button {
    flex-shrink: 0;
    width: auto;
  }
}
@media (max-width: 480px) {
  .input-group {
    flex-direction: row;
    align-items: center;
  }

  .input-group input[type='text'] {
    flex: 1;
  }

  .input-group button {
    flex-shrink: 0;
    width: auto;
  }
}
