:root {
  --primary-color: #b3cde0; /* Pastel blue */
  --secondary-color: #decbe4; /* Pastel purple */
  --background-color: #f0f4f8; /* Light pastel background */
  --text-color: #333;
}

body {
  background-color: var(--background-color);
}

h1 {
  color: var(--text-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}
