:root {
  --primary-color: #f0f4f8;
  --secondary-color: #decbe4;
  --background-color: #49606f;
  --text-color: #708294;
}

body {
  background-color: var(--background-color);
  
}

h1 {
  color: var(--text-color);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
}
